[submodule "libs/pigpio"]
	path = libs/pigpio
	url = https://github.com/joan2937/pigpio
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt
[submodule "libs/cpp-httplib"]
	path = libs/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json
[submodule "libs/cxxopts"]
	path = libs/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "libs/tomlplusplus"]
	path = libs/tomlplusplus
	url = https://github.com/marzer/tomlplusplus/
[submodule "libs/paho.mqtt.c"]
	path = libs/paho.mqtt.c
	url = https://github.com/eclipse/paho.mqtt.c
[submodule "libs/paho.mqtt.cpp"]
	path = libs/paho.mqtt.cpp
	url = https://github.com/eclipse/paho.mqtt.cpp
[submodule "libs/taskflow"]
	path = libs/taskflow
	url = https://github.com/taskflow/taskflow
[submodule "libs/magic_enum"]
	path = libs/magic_enum
	url = https://github.com/Neargye/magic_enum
